<form class="ui form">
	<input type="hidden" data-id="{{ idA }}">
	<div class="field">
		<label for="nombre">Nombres</label>
		<input id="nombre" type="text" value="{{ nombres }}">	
	</div>
	<div class="field">
		<label for="ciudad">Ciudad</label>
		<input id="ciudad" type="text" value="{{ ciudad }}">
	</div>
	<div class="field">
		<label>Sexo</label>
		<div class="inline fields">
			<div class="field">
				<div class="ui radio checkbox">
					<input name="sexo" type="radio" id="m" value="M" {{convertirSexo sexo "M"}}>
					<label for="masculino">Masculino</label>
				</div>
			</div>
			<div class="field">
				<div class="ui radio checkbox">
					<input name="sexo" type="radio" id="f" value="F" {{convertirSexo sexo "F"}}>
					<label for="femenino">Femenino</label>
				</div>	
			</div>	
		</div>
	</div>
	<div class="field">
		<label for="telefono">Teléfono</label>
		<input id="telefono" type="text" value="{{ telefono }}">
	</div>
	<div class="field">
		<label for="fechaNacimiento">Fecha de nacimiento</label>
		<input id="fechaNacimiento" type="text" value="{{convertirFecha fechaNacimiento}}">
	</div>
</form>