<i id="añadir" class="fa fa-plus-circle fa-2x"></i>
<div class='grid'>
	<table class="ui celled striped table">
		<thead class='titulos'>
		<tr>
			<th>Nombres</th>
			<th>Ciudad</th>
			<th>Sexo</th>
			<th>Teléfonos</th>
			<th>Fecha de nacimiento</th>
			<th colspan='2'></th>
		</tr>
		</thead>
		<tbody>
			{{#each this}}
				{{#if this}}
	    			<tr data-id="{{@index}}">
						<td class='titleMobile'>Nombre: </td><td>{{nombres}}</td>
						<td class='titleMobile'>Ciudad: </td><td>{{ciudad}}</td>
						<td class='titleMobile'>Sexo: </td><td>{{sexo}}</td>
						<td class='titleMobile'>Teléfono: </td><td>{{telefono}}</td>
						<td class='titleMobile'>Fecha de nacimiento: </td><td>{{convertirFecha fechaNacimiento}}</td>
						<td colspan='2px'><i class="modificar fa fa-pencil-alt fa-2x"></i><i class="eliminar fa fa-times-circle fa-2x"></i></td>
					</tr>
	  			{{/if}}
			{{/each}}
		</tbody>
	</table>
</div>