<i id="añadir" class="fa fa-plus-circle fa-2x"></i>
<div class='grid'>
	<table class="ui celled striped table">
		<thead class='ui tablet computer large monitor widescreen monitor only'>
		<tr>
			<th>Nombres</th>
			<th>Ciudad</th>
			<th>Sexo</th>
			<th>Teléfonos</th>
			<th>Fecha de nacimiento</th>
			<th colspan='2'></th>
		</tr>
		</thead>
		<tbody>
			{{#each this}}
				{{#if this}}
	    			<tr data-id="{{@index}}">
						<th class='ui mobile only campo'>Nombre: </th>
						<td>{{nombres}}</td>

						<th class='ui mobile only campo'>Ciudad: </th>
						<td>{{ciudad}}</td>

						<th class='ui mobile only campo'>Sexo: </th>
						<td>{{sexo}}</td>

						<th class='ui mobile only campo'>Teléfono: </th>
						<td>{{telefono}}</td>

						<th class='ui mobile only campo'>Fecha de nacimiento: </th>
						<td>{{convertirFecha fechaNacimiento}}</td>

						<td colspan='2'><i class="modificar fa fa-pencil-alt fa-2x"></i><i class="eliminar fa fa-times-circle fa-2x"></i></td>
					</tr>
	  			{{/if}}
			{{/each}}
		</tbody>
	</table>
</div>